*.iml
.gradle
/local.properties
.idea/
.DS_Store
**/build/
!buildSrc/src/test/kotlin/com/cosimomatteini/toolbox/build/
!buildSrc/src/test/kotlin/com/cosimomatteini/toolbox/build/**
/captures
.externalNativeBuild
.cxx
local.properties
signing.properties
.env*
.kotlin
